@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
  margin:0;
  padding:0;
  box -sizing:border-box;
}
 :root{
  --mainmargin:25%;
}
html {
  scroll-behavior: smooth;
}
 input{
   display:none;
}

 label{
    position:fixed;
    top:5px;
    right:10px;
    font-size:1.5rem;
   cursor:pointer;
   visibility:hidden;
 opacity:0;
}
header{
    position:fixed;
     top:0;
     left:0;
     width:20%;
   
  padding:10px 20px;
  background-color:green;
  height:100%;
  z-index:1000;
}
header .icon{
 display:flex;
 align-items:center;
}
.icon i{
   margin-right:10px;
   color:yellow;
}
.icon h3{
  font-family: 'Pushster', cursive;
}
header .nav{
margin-top:3rem;
}

.nav a{
  display:block;
  text-decoration:none;
 margin-bottom:1.5rem;
  color:white;
  text-transform:uppercase;
font-family: 'Nunito Sans', sans-serif;  
}
.nav a:hover{
transform:translateX(20px);
}
.nav a i{
  margin-right:10px;
  color:yellow;
}
header .icon-1 {
   text-align:center;
}
.icon-1 i{
   border:1px solid black;
   padding:5px 5px;
  font-size:30px;
  background-color:white;
   border-radius:5px;
  border:none;
  cursor:pointer;
}
.icon-1 i:hover{
  background-color:#4dff88;
  color:#ff751a;   
}
header h5{
   margin-top:15px;
    color:white;
   text-align:center;
}
header span{
   color:yellow;
  font-family: 'Nunito Sans', sans-serif;  
}

#home{
   
   margin-left: var(--mainmargin);
 
}
.home{
   display:flex;
   align-items:center;
   justify-content:center;
  padding:0px 10px;
}
.home .box-1{
  padding:20px 20px; 
  
}
.box-1 img{
  width:40vw;
  height:auto;

}
.box-1  h2,h3,p{
  margin:15px 0px;
  font-family: 'Nunito Sans', sans-serif;
}
.box-1 p{
line-height:1.2;
color:black;
}
.box-1 h3{
   color:#33ff77;
}
.box-1 span{
  color:#33ff77;
}
.box-1 button{
padding:8px 14px;
border-radius:10px; 
background-color:black;
  color:white;
cursor:pointer;
 
}
.box-1 button:hover{
    background-color:#4dff88;
    color:black;
}
.data {
   margin-left: var(--mainmargin);
   padding:0px 10px;
   display:flex;
  align-item:center;
  justify-content:center;
}
.box-2{
  border:2px solid #a6a6a6;
  padding:1% 2%;
  margin:0px 5px;
}
.box-2 .icon-2{
  display:flex;
  align-items:center;
  
}
.icon-2 i{
    border:1px solid black;
    padding:8px;
   background-color:#70db70;
   color:white;
  border-radius:50%;
   border:none;
  margin-right:5px;
}
.icon-2 h3,span{
   color:black;
}
#subject{
      margin-left: var(--mainmargin);
      margin-top:4rem;
   
}
#subject h5{
  font-size:14px;
  text-align:center;
  color:#4dff88;
  text-transform:uppercase;
}
#subject h4{
   text-align:center;
   font-family: 'Nunito Sans', sans-serif;
  text-transform:uppercase;
  margin:20px 0px;
}
.subject{
 padding:0px 10px;
display:grid;
  grid-gap:5px;
 grid-template-areas:'subject-1 subject-2 subject-3'
 'subject-4 subject-5 subject-6';

}
.subject .box-3{
   width:21vw;
   border:2px solid #a6a6a6;
   padding:10px 10px; 
  text-align:center;  
border-radius:10px; 
}
.box-3 i{
  border:1px solid black;
  padding:5px 8px;
  background-color: #4dff88;
  color:white;
 border-radius:5px;
font-size:25px;
border:none;
}
.box-3 p{
 color:black;
}
#subject-1{
   grid-area:subject-1;
}
#subject-2{
   grid-area:subject-2;
}
#subject-3{
   grid-area:subject-3;
}
#subject-4{
   grid-area:subject-4;
}
#subject-5{
   grid-area:subject-5;
}
#subject-6{
   grid-area:subject-6;
}
#about{
 background-color:#d9ffb3;
 margin-top:2rem;
}
.about{
   margin-left: var(--mainmargin);
   display:flex;
  align-items:center;
 justify-content:center;
}
.box-4{
  padding:15px;
}
.box-4 img{
   width:35vw;
}
.box-4 h5{
 color:#4dff88;
 font-size:1rem;
}
.box-4 p{
  line-height:1.6;
   color:#003326;
}
.box-4 a{
   padding:8px 14px;
  background-color:black;
  color:white;
   border-radius:5px;
   font-weight:bold;
  text-decoration:none;
}
.box-4 a:hover{
   color:black;
  background:#66ff33;
  
}
#course{
  margin-top:5rem;
}
#course .text{
 margin-left: var(--mainmargin);

}
.text h5{
   text-align:center;
   color:#5cd65c;
   font-size:14px;
}
.text h3{
   text-align:center;
}

.course{
  padding:0px 10px;
  display:grid;
  grid-gap:10px;
 grid-template-areas:'course-1 course-2 course-3'
 'course-4 course-5 course-6';
}
#course-1{
 grid-area:course-1;
}
#course-2{
 grid-area:course-2;
}
#course-3{
 grid-area:course-3;
}
#course-4{
 grid-area:course-4;
}
#course-5{
 grid-area:course-5;
}
#course-6{
 grid-area:course-6;
}
.box-5 img{
   width:180px;
   display:block;
   margin:auto;
    
}
.box-5 h4{
   text-align:center;
}
.box-5{
  padding:2rem 1.5rem;
  border:1px solid #a6a6a6;
  border-radius:10px;
  position:relative;
}
.box-5 .image{
    display:block;
     height:100%;
}
.box-5 .overlay{
   position:absolute;
     bottom:0;
     left:0;
      right:0;
      background-color:#47d147;
   border-radius:10px;
        overflow:hidden;
         height:0;
       transition: .5s ease;
    text-align:center;
  
}
.overlay i{
  margin-top:20px;
    color:yellow;
}
.overlay h3,p{
  color:white;
}
.overlay button{
     padding:7px 10px;
   border-radius:5px;
   background-color:black;
  color:white;
  cursor:pointer;
}
.overlay button:hover{
   color:black;
   background-color:#ff751a;
}
.box-5:hover .overlay{
   height:100%;
}
#pricing{
     margin-top:4rem;
}
#pricing .text-1{
     margin-left: var(--mainmargin);
 
}
.text-1 h5{
   text-align:center;
   color:#33cc33;
}
.text-1 h3{
text-align:center;
}
.pricing{
  padding:0px 10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.box-6{
   margin:0px 5px;
   border:2px solid #999999;
   border-radius:10px;
   padding:10px 35px;
 text-align:center;
}
.box-6 h5{
 color:black;
  font-size:16px;
}
.box-6 img{
   width:150px;
   height:auto;
}
.box-6 span{
 font-size:30px;
}
.box-6 p{
 font-size:14px;
 color:black;
}
.box-6 p .fa-check{
  color:green;
  margin-right:5px;

}

.box-6 p .fa-times{
  color:red;
  margin-right:5px;
}
.box-6 button{
  padding:6px 9px;
  background-color:black;
  color:white;
 border-radius:5px;
}
.box-6 button:hover{
  background-color:#5cd65c;
  color:black;
 cursor:pointer;
}
#contact{
  margin:8rem 0rem;
}
#contact .text-2{
margin-left: var(--mainmargin);
}
.text-2 h5{
text-align:center;
   color:#33cc33;
 font-size:15px;

}
.text-2 h3{
text-align:center;
}
.contact{
padding:0px 10px;
 display:grid;
 grid-gap:10px;
 grid-template-areas:'form-1 form-2 form-2 form-2 form-2';

}
 
#form-1{
grid-area:form-1;
padding:2rem 1.5rem;
}
#form-2{
grid-area:form-2;
}
.box-7 .icon-5{
  display:flex;
  align-items:center;
}
.icon-5 p{
  color:black;
}
.icon-5 i{
  margin-right:6px;
 border:1px solid black;
 border-radius:50%;
 border:none;
 color:white;
 padding:8px;
 background-color:#5cd65c;
}
.box-7 .input-1{
display:flex;
  align-items:center;
}
.input-1 input{
   border:none;
   border-bottom:1px solid #a6a6a6;
   border-radius:5px;
   width:50%;
   height:30px;
  margin:20px 5px;
  background-color:#ccffdd;
}
.box-7 textarea{
width:99.4%;
resize:none;
height:100px;
margin:20px 0px;
border:none;
 background-color:#ccffdd;
   border-bottom:1px solid #a6a6a6;
  border-radius:5px;
}
.box-7 button{
  padding:10px 15px;
  color:white;
  background-color:black;
  border-radius:10px;
 cursor:pointer;
}
.box-7 button:hover{
  color:black;
 background-color:#70db70;
}
#review{
     margin:4rem 0rem;
   
}
#review .text-3{

  margin-left: var(--mainmargin);
}
.text-3 h5{
text-align:center;
   color:#33cc33;
 font-size:15px;

}
.text-3 h3{
text-align:center;
}
.review{
  padding:0px 10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.review .box-8{
  text-align:center;
 padding:15px 10px;
}
.box-8 img{
width:150px;
border-radius:50%;
}
.box-8 p{
  color:black;
}
.box-8 i{
  color:#4dff88;
}
#blog{
 margin:4rem 0rem;
}
#blog .text-4{
 margin-left: var(--mainmargin);
}
.text-4 h5{
text-align:center;
   color:#33cc33;
 font-size:15px;

}
.text-4 h3{
text-align:center;
}
.blog{
  padding:0px 10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.blog .box-9{
  text-align:center;
 padding:15px 10px;
border:2px solid #a6a6a6;
 border-radius:15px;
 margin:0px 5px;
}
.box-9 img{
width:150px;
border-radius:5px;
}
.box-9 img:hover{
 transform:translateY(20px);
 cursor:pointer;
}
.box-9 p{
 color:black;
}
.box-9 .cal{
 display:flex;
 align-items:center;
 justify-content:space-between;
}
.cal p{
  color:black;
}
.cal i{
  color:#009933;
}
.cal a{
text-decoration:none;
 color:#004d00;
}
footer{
 width:100%;
height:40px;
background-color:#99ffff;
}

@media (max-width:980px){
  
    header{
    position:fixed;
     top:0;
     left:0;
     width:60%;
    text-align:center;
    background-color:#4dff88;
    transform-origin:top;
     transform:scaleY(0);
     opacity:0;
   box-shadow:200px 0px 300px rgba(0,0,0,.7);
}
.nav a{
   color:black;
   font-weight:bold;
}

              
label{
   visibility:visible;
 opacity:1;
  
}
input:checked ~ header{
     transform:scaleY(1);
            opacity:1;
}
input:checked ~ label::before{
    content:'\f00d';
}

 

  :root{
  --mainmargin:0%;
} 
.subject{
 
 grid-template-areas:'subject-1 subject-2' 'subject-3 subject-4'
 'subject-5 subject-6';

}
.subject .box-3{
   width:45vw;
}
.course{
  
 grid-template-areas:'course-1 course-2' 'course-3 course-4'
 'course-5 course-6';
}
   
}  

@media (max-width:690px){
         .home{
   flex-direction:column;
}
.box-1 img{
  width:90vw;
  }
.home .box-1{
  padding:20px 10px; 
  
}

.data {
   flex-direction:column;
}
.box-2{
  margin:5px 5px;
}
.box-2 .icon-2{
  width:100px;
  display:block;
  margin:auto;
  
}
.subject{
 
 grid-template-areas:'subject-1' 
'subject-2' 'subject-3' 'subject-4'
 'subject-5' 'subject-6';

}
.subject .box-3{
   width:90vw;
  padding:10px 5px;
}
.about{
   flex-direction:column;
}
.box-4 img{
   width:90vw;
}
.course{
  
 grid-template-areas:'course-1' 'course-2' 'course-3' 'course-4'
 'course-5' 'course-6';
}
.pricing{
  flex-direction:column;
}
.box-6{
   margin:10px 5px;
   
}
.contact{

 grid-template-areas:'form-2' 
'form-1';

}
.review{
  flex-direction:column;
}
.blog{
  flex-direction:column;
}
.blog .box-9{
  
 margin:10px 5px;
}

}



